.carpoolPage1Child {
  position: absolute;
  top: -171px;
  left: -69px;
  border-radius: 50%;
  background-color: var(--color-lightskyblue);
  width: 528px;
  height: 541px;
}
.carpoolPage1Item {
  position: absolute;
  top: 830px;
  left: 125px;
  background-color: var(--color-darkslategray);
  width: 140px;
  height: 5px;
}
.image1Icon {
  position: absolute;
  top: 122px;
  left: 61px;
  width: 268px;
  height: 236px;
  object-fit: cover;
}
.groupChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: var(--color-white);
  width: 345px;
  height: 59px;
}
.carpoolPage1Inner1,
.groupDiv {
  position: absolute;
  top: 239px;
  left: 23px;
  width: 345px;
  height: 59px;
  cursor: pointer;
}
.carpoolPage1Inner1 {
  top: 311px;
}
.carpool {
  position: absolute;
  top: 60px;
  left: calc(50% - 85px);
  font-size: var(--font-size-5xl);
  color: var(--color-gray-600);
  display: inline-block;
  width: 170px;
  height: 27px;
  -webkit-text-stroke: 0.5px #0b0b0b;
}
.image17Icon {
  position: absolute;
  top: 61px;
  left: 35px;
  width: 25px;
  height: 25px;
  object-fit: cover;
  cursor: pointer;
}
.eps10BluePinPointOrLocatiIcon,
.removebgPreview1Icon {
  position: absolute;
  top: 253px;
  left: 49px;
  width: 40.5px;
  height: 31.5px;
  object-fit: cover;
}
.eps10BluePinPointOrLocatiIcon {
  top: 323px;
  left: 43px;
  width: 51px;
  height: 35px;
}
.currentLocation,
.whereTo {
  position: absolute;
  color: var(--color-gray-1000);
  display: flex;
  align-items: center;
  height: 59px;
}
.currentLocation {
  top: 239px;
  left: 23px;
  justify-content: center;
  width: 345px;
}
.whereTo {
  top: 311px;
  left: 123px;
  text-align: left;
  width: 245px;
}
.vectorIcon,
.vectorIcon1 {
  position: absolute;
  height: 2.84%;
  width: 6.15%;
  top: 30.45%;
  right: 12.56%;
  bottom: 66.71%;
  left: 81.28%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vectorIcon1 {
  top: 38.98%;
  bottom: 58.18%;
}
.carpoolPage1Child1,
.rectangleDiv {
  position: absolute;
  top: 656px;
  left: 283px;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  width: 79px;
  height: 40px;
}
.carpoolPage1Child1 {
  top: 395px;
  left: 27px;
  border-radius: var(--br-11xl);
  width: 335px;
  height: 236px;
  cursor: pointer;
}
.popularDestinations,
.queensbayMall,
.savedAddress {
  position: absolute;
  top: 416px;
  left: 57px;
  -webkit-text-stroke: 0.5px #000;
  mix-blend-mode: darken;
}
.queensbayMall,
.savedAddress {
  top: 652px;
  left: 44px;
}
.queensbayMall {
  top: 461px;
  left: 115px;
  font-size: var(--font-size-base);
}
.persiaranBayanIndah {
  margin: 0;
}
.jalanPenang10000,
.jlnBalikPulauContainer,
.neverForgetAn,
.persiaranBayanIndahContainer {
  position: absolute;
  top: 485px;
  left: 115px;
  font-size: var(--font-size-xs);
  color: var(--color-dimgray-200);
  mix-blend-mode: darken;
}
.jalanPenang10000,
.jlnBalikPulauContainer,
.neverForgetAn {
  top: 597px;
}
.jalanPenang10000,
.neverForgetAn {
  top: 680px;
  left: 44px;
}
.jalanPenang10000 {
  top: 541px;
  left: 115px;
}
.komtarTower {
  top: 517px;
  left: 115px;
  font-size: var(--font-size-base);
  -webkit-text-stroke: 0.5px #000;
}
.add,
.kekLokSi,
.komtarTower {
  position: absolute;
  mix-blend-mode: darken;
}
.kekLokSi {
  top: 573px;
  left: 115px;
  font-size: var(--font-size-base);
  -webkit-text-stroke: 0.5px #000;
}
.add {
  top: 667px;
  left: 321px;
  font-size: var(--font-size-mini);
  color: var(--color-steelblue);
}
.image2Icon,
.image3Icon,
.image4Icon {
  position: absolute;
  top: 461px;
  left: 57px;
  width: 37px;
  height: 35px;
  object-fit: cover;
}
.image3Icon,
.image4Icon {
  top: 517px;
}
.image4Icon {
  top: 573px;
}
.carpoolPage1Child2,
.lineDiv {
  position: absolute;
  top: 511px;
  left: 101.5px;
  border-top: 1px solid var(--color-gainsboro-200);
  box-sizing: border-box;
  width: 251px;
  height: 1px;
}
.carpoolPage1Child2 {
  top: 564.5px;
}
.image18Icon,
.istockphoto1156487275612x612Icon {
  position: absolute;
  top: 420px;
  left: 325px;
  width: 16px;
  height: 16px;
  object-fit: cover;
}
.istockphoto1156487275612x612Icon {
  top: 662px;
  left: 289px;
  width: 27px;
  height: 28.4px;
}
.carpoolPage1Child3 {
  position: absolute;
  top: 736px;
  left: 22px;
  border-radius: var(--br-11xl);
  background-color: var(--color-white);
  width: 346px;
  height: 86px;
}
.groupIcon {
  position: absolute;
  height: 3.08%;
  width: 6.67%;
  top: 91%;
  right: 18.72%;
  bottom: 5.92%;
  left: 74.62%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.frameChild {
  position: absolute;
  top: 0;
  left: 1.9px;
  width: 28px;
  height: 16.8px;
}
.frameInner,
.frameItem {
  position: absolute;
  top: 8.4px;
  left: 6.1px;
  background-color: var(--color-steelblue);
  width: 15.9px;
  height: 12.6px;
}
.frameInner {
  top: 12.9px;
  left: 9.9px;
  background-color: var(--color-white);
  width: 8.1px;
  height: 8.1px;
}
.polygonParent {
  position: absolute;
  top: 768px;
  left: 69px;
  width: 28px;
  height: 21px;
}
.carpoolPage1Child4,
.carpoolPage1Child5,
.ellipseDiv {
  position: absolute;
  top: 772px;
  left: 147px;
  width: 23px;
  height: 18px;
}
.carpoolPage1Child5,
.ellipseDiv {
  left: 219px;
}
.ellipseDiv {
  top: 800px;
  left: 79px;
  border-radius: 50%;
  background-color: var(--color-steelblue);
  width: 7px;
  height: 7px;
}
.carpoolPage1Child7,
.carpoolPage1Child9 {
  position: absolute;
  top: 772px;
  left: 147px;
  width: 23px;
  height: 18px;
  cursor: pointer;
}
.carpoolPage1Child9 {
  top: 768px;
  left: 291px;
  width: 26px;
  height: 26px;
}
.frameChild1,
.frameChild2,
.frameChild3,
.frameChild4,
.rectangleParent {
  position: absolute;
  top: 5.5px;
  left: 4.6px;
  border-radius: var(--br-8xs);
  background-color: var(--color-steelblue);
  width: 13px;
  height: 1px;
}
.frameChild2,
.frameChild3,
.frameChild4,
.rectangleParent {
  top: 14px;
}
.frameChild3,
.frameChild4,
.rectangleParent {
  top: 11px;
}
.frameChild4,
.rectangleParent {
  top: 8.5px;
}
.rectangleParent {
  top: 771px;
  left: 220px;
  background-color: var(--color-white);
  border: 2px solid var(--color-steelblue);
  box-sizing: border-box;
  width: 22px;
  height: 22px;
}
.iconHome,
.rectangleGroup {
  position: absolute;
  cursor: pointer;
}
.rectangleGroup {
  top: 771px;
  left: 220px;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  border: 2px solid var(--color-steelblue);
  box-sizing: border-box;
  width: 22px;
  height: 22px;
}
.iconHome {
  height: 2.7%;
  width: 6.67%;
  top: 91%;
  right: 75.38%;
  bottom: 6.3%;
  left: 17.95%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.carpoolPage1 {
  position: relative;
  background-color: var(--color-gainsboro-100);
  width: 100%;
  height: 844px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-itim);
}
