.publicBusesPage3Child {
  position: absolute;
  top: -171px;
  left: -69px;
  border-radius: 50%;
  background-color: var(--color-lightskyblue);
  width: 528px;
  height: 541px;
}
.publicBusesPage3Item {
  position: absolute;
  top: 830px;
  left: 125px;
  background-color: var(--color-darkslategray);
  width: 140px;
  height: 5px;
}
.image1Icon {
  position: absolute;
  top: 122px;
  left: 61px;
  width: 268px;
  height: 236px;
  object-fit: cover;
}
.publicBus {
  position: absolute;
  top: 60px;
  left: calc(50% - 85px);
  display: inline-block;
  width: 170px;
  height: 27px;
  -webkit-text-stroke: 0.5px #0b0b0b;
}
.image17Icon,
.n1Icon {
  position: absolute;
  object-fit: cover;
}
.image17Icon {
  top: 61px;
  left: 35px;
  width: 25px;
  height: 25px;
  cursor: pointer;
}
.n1Icon {
  top: 213px;
  left: 58px;
  border-radius: var(--br-xl);
  width: 273px;
  height: 512px;
}
.rectangleDiv {
  position: absolute;
  top: 736px;
  left: 22px;
  border-radius: var(--br-11xl);
  background-color: var(--color-white);
  width: 346px;
  height: 86px;
}
.groupIcon {
  position: absolute;
  height: 3.08%;
  width: 6.67%;
  top: 91%;
  right: 18.72%;
  bottom: 5.92%;
  left: 74.62%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.frameChild {
  position: absolute;
  top: 0;
  left: 1.9px;
  width: 28px;
  height: 16.8px;
}
.frameInner,
.frameItem {
  position: absolute;
  top: 8.4px;
  left: 6.1px;
  background-color: var(--color-steelblue);
  width: 15.9px;
  height: 12.6px;
}
.frameInner {
  top: 12.9px;
  left: 9.9px;
  background-color: var(--color-white);
  width: 8.1px;
  height: 8.1px;
}
.polygonParent {
  position: absolute;
  top: 768px;
  left: 69px;
  width: 28px;
  height: 21px;
}
.ellipseDiv,
.publicBusesPage3Child1,
.publicBusesPage3Child2 {
  position: absolute;
  top: 772px;
  left: 147px;
  width: 23px;
  height: 18px;
}
.ellipseDiv,
.publicBusesPage3Child2 {
  left: 219px;
}
.ellipseDiv {
  top: 800px;
  left: 79px;
  border-radius: 50%;
  background-color: var(--color-steelblue);
  width: 7px;
  height: 7px;
}
.publicBusesPage3Child4,
.publicBusesPage3Child6 {
  position: absolute;
  top: 772px;
  left: 147px;
  width: 23px;
  height: 18px;
  cursor: pointer;
}
.publicBusesPage3Child6 {
  top: 768px;
  left: 291px;
  width: 26px;
  height: 26px;
}
.groupChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  border: 2px solid var(--color-steelblue);
  box-sizing: border-box;
  width: 22px;
  height: 22px;
}
.groupChild1,
.groupChild2,
.groupInner,
.groupItem {
  position: absolute;
  top: 5.5px;
  left: 4.6px;
  border-radius: var(--br-8xs);
  background-color: var(--color-steelblue);
  width: 13px;
  height: 1px;
}
.groupChild1,
.groupChild2,
.groupInner {
  top: 14px;
}
.groupChild1,
.groupChild2 {
  top: 11px;
}
.groupChild2 {
  top: 8.5px;
}
.iconHome,
.rectangleParent {
  position: absolute;
  top: 771px;
  left: 220px;
  width: 22px;
  height: 22px;
  cursor: pointer;
}
.iconHome {
  height: 2.7%;
  width: 6.67%;
  top: 91%;
  right: 75.38%;
  bottom: 6.3%;
  left: 17.95%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.publicBusesPage3 {
  position: relative;
  background-color: var(--color-gainsboro-100);
  width: 100%;
  height: 844px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-gray-600);
  font-family: var(--font-itim);
}
